{% extends 'base.html' %}

{% block title %} Products {% endblock %}
{% block content %}


<div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add product
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Adding a product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <form action="/add_products" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product name</label>
                            <input type="text" name="p_name" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Buying price</label>
                            <input type="number" name="b_price" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Selling price</label>
                            <input type="number" name="s_price" class="form-control" id="exampleInputPassword1">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add product</button>
                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div>

</div>



<div>
    <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Buying Price</th>
                <th>Selling Price</th>

            </tr>
        </thead>
        <tbody>
            {% for i in products_data %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>

            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}